body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 390px;
    height: 200px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
  }

  .eyes-wrapper {
    display: flex;
  }
  
  .eye {
    width: 10em;
    height: 10em;
    border: 15px solid #a6a4ad;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .eyeball {
    height: 3.2em;
    width: 3.2em;
    background: radial-gradient(#844343 35%, rgb(0, 132, 255) 37%);
    border-radius: 50%;
    margin: 0.2em 3.5em;
    position: relative;
  }
  
  .eyeball:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 0.7em;
    width: 0.5em;
    border-radius: 50%;
    top: 13px;
    left: 13px;
    transform: rotate(45deg);
  }